* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

body {
    background-image: url("../images/main_background.png");
    background-position: center 0;
    background-repeat: no-repeat;
    background-color: #181715;
}
